$body-background-color: #fafafa;
$body-color:            #3a3a3a;
$body-font-family:      sans-serif;
$body-font-size:        16px;
$body-line-height:      1.6875;

body {
  background-color: $body-background-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: $body-line-height;
  position: relative;
  text-rendering: optimizelegibility;
}
